<div class="section-container container">
  <h1 class="text-center">Centro de Mensajes</h1>
  <div class="chat-container container m-3" id="chat-container"></div>
  <div class="form-container container">
    <h5 class="text-center">Dejanos tu mensaje!</h5>
    <form id="message-form">
      <div class="form-group m-1">
        <input
          type="email"
          class="form-control"
          id="message-email"
          placeholder="Ingresá tu correo"
          required
        />
      </div>
      <div class="form-group m-1 d-flex">
        <input
          type="text"
          class="form-control"
          id="message-content"
          placeholder="Tu mensaje..."
          required
        />
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>

</div>